# Django
SECRET_KEY=django-insecure-CHANGE-THIS-IN-PRODUCTION
DEBUG=True

# TMDB API
# Aşağıdaki linkten ücretsiz al, v4 "API Read Access Token" kopyala:
# https://www.themoviedb.org/settings/api
TMDB_API_TOKEN=your-tmdb-bearer-token-here
